@import "vars"
@import "fonts"
@import "libs"
@import "start"

.header
  background-color: #fff
  text-transform: uppercase
  padding: 10px 0
  font-size: 15px

.header-menu
  ul
    display: flex
    list-style: none
    margin: 0
    padding: 0

  li
    padding: 0 18px
    margin: 0

  a
    padding: 8px

.header-menu-social
  display: none

.header-logo
  padding: 0 15px
  a
    display: block
  img
    display: block

.header-right
  padding-right: 15px
  padding-left: 15px
  font-size: 15px
  .n-btn
    text-transform: uppercase
    margin-right: 10px
    padding: 9px

    &:last-child
      margin-right: -7px

  .n-btn-green
    padding: 11px 18px