@import "vars"
@import "header"

.n-section-title
  flex-basis: 100%
  text-align: center
  letter-spacing: 0.12em
  padding: 37px 0

  h3, h2, h1, .h3, .h2, .h1
    margin: 0
    line-height: 1


.n-main-slider
  width: 100%

  .slick-dots
    list-style: none
    margin: 0
    padding: 0
    position: absolute
    bottom: 30px
    left: 50%
    transform: translateX(-50%)

    li
      padding: 0
      margin: 0 35px 0 0
      display: inline-block

      &:last-child
        margin: 0

    button
      font-size: 0
      color: transparent
      padding: 0
      width: 15px
      height: 15px
      border-radius: 50%
      background-color: #fff
      transition: 0.2s
      opacity: 0.6
      border: none

    .slick-active
      button
        opacity: 1

  .slick-slide
    line-height: 0


.n-main-slide
  position: relative
  width: 100%
  height: 500px
  color: #fff

.n-main-slide-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 500px

  img
    width: 100%
    height: 100%
    object-fit: cover

.n-main-slide-text
  position: absolute
  top: 50%
  left: 50%
  text-align: center
  transform: translate(-50%, -50%)
  width: 100%
  padding: 0 15px

  h1, .h1, h2, .h2
    margin-bottom: 0
    line-height: 1.1
    letter-spacing: 0.04em

.n-section-tile
  padding-top: 42px

  .n-section-title
    padding: 0
    overflow: hidden
    position: relative
    color: $brown

    h3
      display: inline-block
      background-color: #fff
      padding: 0 40px
      z-index: 1

      &:before
        position: absolute
        content: ''
        height: 0.6em
        width: 50%
        top: calc(50% - 3px)
        right: 0
        background-color: $brown
        transform: translateY(-50%)
        z-index: -1

.n-tile-tabs
  display: block
  flex-basis: 100%
  max-width: 100%

.n-tile-tabs-head
  display: flex
  flex-basis: 100%
  max-width: 100%
  padding: 5px 12px
  justify-content: space-between

  .n-btn
    text-transform: uppercase
    position: relative
    padding: 8px 0

    &:before
      position: absolute
      content: ''
      width: 100%
      bottom: 5px
      left: 0
      height: 1px
      background-color: $text
      opacity: 0

    &:hover, &.active
      text-decoration: none

      &:before
        opacity: 1

.n-btn-accordion
  display: block
  margin: 0 auto
  text-transform: uppercase

.n-tile-tab
  display: none
  padding: 9px 0 0

  &.tab-active
    display: block

.n-tile-img
  flex-basis: 415px
  height: 385px
  position: relative

  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    border-top: 201px solid transparent
    border-left: 172px solid rgba($green, 0.8)
    background-blend-mode: lighten

  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.n-tile-info
  flex-basis: calc(100% - 415px)
  padding: 0 70px 100px 70px
  position: relative

  .h3
    margin-bottom: 5px
    color: $gray

.n-tile-btns
  position: absolute
  bottom: 50px

  .n-btn-green
    text-transform: uppercase
    padding: 12px 45px

.n-section-about
  background: $gray url('../img/bg-about.png') center top no-repeat
  background-size: cover
  color: #fff
  text-align: center
  padding: 20px 0 52px

.n-about-list
  flex-basis: 100%
  display: flex
  padding: 0 60px

.n-about-item
  flex-basis: 25%
  padding: 0 15px

  .n-about-title
    font-size: 16px
    font-weight: 500
    letter-spacing: 0.04em
    text-transform: uppercase
    font-family: $default-font

.n-about-img
  display: flex
  height: 105px
  justify-content: center
  align-items: center


.n-about-desc
  padding: 0 40px
  margin-top: 10px

.n-section-material
  background: $gray url('../img/bg-material.png') center top no-repeat
  background-size: cover
  color: #fff
  text-align: center
  padding: 20px 0 58px

  .n-about-desc
    margin-top: 15px
    padding: 0 30px

.n-why-left
  flex-basis: calc(100% - 500px)
  max-width: calc(100% - 500px)
  position: relative
  padding: 50px 85px
  display: flex
  flex-direction: column
  justify-content: center

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    right: -150px
    top: 0
    background: url('../img/bg-why-left.png') right top no-repeat
    background-size: auto 100%

  p
    position: relative

.n-why-right
  flex-basis: 500px
  max-width: 500px
  font-size: 86px
  line-height: 0.87
  letter-spacing: 0.04em
  font-family: $title-font
  font-weight: bold
  position: relative
  color: #fff
  padding: 50px 0 43px 182px

  span
    font-size: 113px

  .n-why-right-small
    font-size: 74px
    line-height: 0.95
    display: inline-block

  &:before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    right: 0
    top: 0
    background: url('../img/bg-why-right.png') right top no-repeat
    z-index: -1
    -webkit-background-size: cover
    background-size: cover

.n-section-benefit
  position: relative
  z-index: 2
  padding: 5px 0 34px
  text-align: center
  
  .n-row
    display: block

  .n-section-title
    color: $brown

.n-benefit-list
  flex-basis: 100%
  display: block
  padding: 0 53px

.n-benefit-item
  padding: 0 30px
  flex-basis: 33%

.n-benefit-img
  width: 100%
  position: relative

  img
    width: 100%
    height: 100%
    display: block
    object-fit: cover

.n-benefit-desc
  margin-top: 18px
  font-size: 16px
  font-weight: bold
  letter-spacing: 0.02em

.n-blog-title
  text-align: left
  position: relative
  padding: 10px 0 10px 85px
  z-index: 1

  .h3
    display: inline-block
    background-color: #fff
    padding: 0 24px
    z-index: 1

  &:before
    position: absolute
    content: ''
    left: 0
    width: 100%
    background-color: $green
    height: 25px
    top: calc(50% - 3px)
    z-index: -1
    transform: translateY(-50%)

.n-blog
  display: flex
  flex-direction: column
  padding: 19px 85px

.n-blog-item
  flex-basis: 100%
  max-width: 100%
  display: flex
  margin-bottom: 86px

  &:last-child
    margin-bottom: 40px

.n-blog-img
  flex-basis: 400px

  img
    width: 100%
    height: 100%
    object-fit: cover

.n-blog-desc
  flex-basis: calc(100% - 400px)
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 0 30px
  font-size: 15px

  .n-btn
    padding: 12px 39px

  .n-blog-item-title
    font-size: 18px
    font-weight: 500
    text-transform: uppercase
    font-family: $default-font
    margin-bottom: 10px
    margin-top: -0.3em
    line-height: 1.4

  p
    margin: 0

.n-catalog
  flex-basis: 100%
  max-width: 100%
  display: flex
  align-items: flex-start

.n-catalog-left
  flex-basis: 25%
  max-width: 25%
  background-color: #bca78d
  padding: 10px 15px 46px 15px
  font-size: 12px
  height: calc(100vh - 61px)

  img
    display: block
    width: 100%
    height: auto
    margin-bottom: 20px

.n-catalog-right
  flex-basis: 75%
  max-width: 75%

.n-catalog-top
  background: $text url('../img/catalog-top.png') center no-repeat
  background-size: cover
  color: #fff
  padding: 10px 15px 10px 45px

  ul
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style: none

  li
    flex-basis: 20%
    max-width: 20%

  .n-btn
    color: #fff
    padding: 4px 8px
    max-width: 100%
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    font-size: 15px
    text-transform: uppercase

    &:before
      bottom: 2px
      background-color: $green

.n-catalog-list
  display: flex
  flex-wrap: wrap
  padding: 15px 5px

  figcaption
    display: none

  .simplebar-content
    display: flex
    flex-wrap: wrap
    padding: 15px 5px

.n-catalog-item
  flex-basis: 14.285%
  max-width: 14.258%
  padding: 0 10px 10px
  margin: 0
  cursor: pointer

  &:hover
    .n-catalog-item-img:after
      opacity: 1

.n-catalog-item-img
  width: 100%
  position: relative

  &:after
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    opacity: 0
    transition: 0.2s
    background: rgba(#000, 0.4) url('../img/icons/icon-zoom.png') center no-repeat
    z-index: 2

  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.n-catalog-item-name
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  width: 100%
  font-size: 10.5px
  text-align: center

.n-article
  padding: 0 0 40px

  img
    max-width: 100%
    height: auto
    display: block
    margin-bottom: 20px

  h2, h3, h4, h5, h6, p
    margin-bottom: 20px

  ol, ul
    margin: 0 0 20px 0
    padding: 0 0 0 20px

.n-modal
  display: none

.n-modal-title
  font-family: $title-font

  > *
    margin: 0 0 20px

  h3
    font-size: 30px

.n-modal-contact
  text-align: center


.n-contact-form
  display: block

.n-form-row
  width: 100%
  margin-top: 20px

  .n-btn-green
    min-width: 80%
    font-weight: 400
    font-size: 18px

.n-form-input
  width: 100%
  display: block
  border: 1px solid #ccc
  padding: 5px 15px
  font-size: 18px



@import "media"
// Always at the end
